<script>
    function text_mail() {
        document.getElementById("button_mail").innerHTML = "contato@gseletrica.com";
    }




</script>

<div class="container-fluid content-contact" id="contacts">
    <div class="row justify-content-center text-center">
        <h3>SOLICITE UMA VISITA TÉCNICA</h3>
        <p>Converse conosco e antecipe sua urgência</p>
    </div>
    <div class="row row-buton-contact">
        <a class="btn btn-contact whatsaap" target="_blank"
            href="https://api.whatsapp.com/send?phone=5511952163287"><img src="/assets/icons/wpp.svg"
                class="icon-button-contact" alt="">Whatsapp</a>

        <button onclick="text_mail()" class="btn btn-contact">
            <a href="mailto:contato@gseletrica.com" class="mail">
                <p id="button_mail"><img src="/assets/icons/mail.svg" class="icon-button-contact" alt="">E-mail</p>
            </a>

        </button>

    </div>
</div>

<style>
    .content-contact {
        background-image: url(/assets/images/bg-contact.webp);
        height: 50vh;
        background-attachment: fixed;
        padding-top: 8vh;
        color: white;
    }

    .row-buton-contact {
        display: flex;
        justify-content: center;

    }

    .btn-contact {
        border: solid 1px white;
        width: 15%;
        height: 70px;
        color: white;
        text-transform: uppercase;
        border-radius: 0;
        margin: 8vh 1vw;
    }

    .btn-contact:hover {
        background-color: rgba(255, 255, 255, 0.37);
    }

    .icon-button-contact {
        max-width: 50px;
        padding: 10px;
    }

    .mail {
        color: white;
        text-decoration: none;
    }
</style>