<footer>
    <div class="row">
        <div class="col-md-6">
            <h2 class="border-footer">GS ELÉTRICA E MANUTENÇÃO
            </h2>
            <p class="copy-gs-eletrica">Somos uma empresa onde a nossa missão e mostrar que o seu bem estar deve ser
                levado a sério.</p>
            <div class="row">
                <div class="col-md"><img src="" class="icon-social-footer" alt=""></div>
                <div class="col-md"><img src="" class="icon-social-footer" alt=""></div>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="border-footer">LINKS</h2>
            <ul class="list-links">
                <li><a class="links-footer" href="#top"> Inicío </a> </li>
                <li><a class="links-footer" href="#services">Serviços </a> </li>
                <li><a class="links-footer" href="#contacts">Contato </a> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="border-footer">FALE CONOSCO</h2>
            <ul class="list-links">
                <li><img src="" class="icon-contact-footer" alt=""><a class="links-footer"
                        href="mailto:contato@gseletrica.com">contato@gseletrica.com</a></li>
                <li><img src="" class="icon-contact-footer" alt=""><a class="links-footer"
                        href="https://api.whatsapp.com/send?phone=5511952163287">+55 11 95216-3287</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row row-copyright">
        <p>© GS ELÉTRICA E MANUNTENÇÃO</p>
        <p>Todos os Direitos Reservados</p>
        <p>Desenvolvido por: <a class="text-dev" target="_blank" href="https://www.gabeoliveira.dev/">Gabe
                Oliveira.dev</a> </p>
    </div>

</footer>

<style>
    footer {
        background-color: #44439c;
        padding: 40px 40px 3px 40px;
        color: white;
    }

    .border-footer {
        border-bottom: 4px solid #21758a;
    }

    .copy-gs-eletrica {
        width: 50%;
        margin-top: 3vh;
    }

    .list-links {
        padding-left: 0;
    }

    .list-links li {
        list-style: none;
        color: white;

    }

    .links-footer {
        text-decoration: none;
        color: white;
    }

    .links-footer:hover {
        text-decoration: underline;

    }

    .row-copyright {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        text-align: center;
    }

    .row-copyright p {
        margin: 0;
        font-size: 12px;
    }

    .text-dev {
        color: white;

    }
</style>